
.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    padding:1% 5%;

    border-bottom:1px solid #ffffff;
}

.nav ::deep a {
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-menu-toggle {
    all: unset;
}



@media(max-width:768px){

    /* default nav to hidden on mobile */
    .nav {
        display:none;
    }

    .nav-menu-toggle{
        height:64px;
        width:64px;
        background-color:black;
    }

    .nav-menu-toggle img{
        width:64px;
        height:64px;
    }

    .mobile-nav-open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #000000;
        border-bottom: 10px solid #ff0000;
        border-right: 10px solid #ff0000;
        border-radius: 10px 20px 30px 30px;
        padding: 25px;
        z-index: 1000;
    }

    .backdrop {
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        display: none;
        cursor: pointer;
    }

    .visible {
        display: block;
    }
}