
.nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    padding:1% 5%;

    border-bottom:1px solid white;
}

.nav ::deep a {
    display:flex;
    align-items:center;
    justify-content:center;
}
