
:root{
    --text-primary: #E7E7E7;
    --background: #0A0A0A;
}


html, body {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: var(--text-primary);
    background-color: var(--background);
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color:#ffffff;
    text-decoration:none;
    font-weight:bolder;
}

@media (min-width:768px) {
    .mobile {
        display: none;
    }
}

@media (max-width:768px){
    .desktop{
        display:none;
    }
}

